.contact{
   
    background: url('https://img.freepik.com/premium-photo/grunge-light-stone-background-with-coffee-beans-scratched-concrete-table-texture-with-roasted-grains_124507-10514.jpg') no-repeat;
    background-size: cover;
    font-size: 1rem;

    height: calc(100vh - 100px - 24px);
    position: relative;
    &__background{
        width: 500px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: hsla(30, 100%, 40%, 0.7);
        border-radius: 20px;
        color: white;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__content{
        margin-top: 10px;
    }
    &__heading{
        text-align: center;

        font-size: 3rem;
    }
    &__input{
        display: flex;
        width: 300px;
       
        margin: 10px auto 0 auto;
        label{
            flex: 1;
        }
        input{
            flex: 1;
            border: 1px solid;
            border-radius: 3px;
            box-shadow: 3px 5px #8888;
        }
    }
    &__btn{
        width: 100%;
        font-size: 1rem;
        text-align: center;
        margin-top: 10px ;
        border-radius: 10px;
        &:hover{
            background-color: rgb(204,102,0);
            color: white   ;
        }
    }
}
