@import "Common.scss";

.products{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
        margin-top: 50px;
        // margin-bottom: 10px;
    }
    a{
        text-decoration: none;
    }
}
.news{
    display: flex;
    flex-direction: column;
}