$header-height: 100px;
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: hsl(30, 100%, 40%);
    min-height: $header-height;
    
}
nav{
    margin-right: 100px;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 100%;
    margin-bottom: 0;
}
li{
    $padding-top-bottom-zone: 10px;
    padding: $padding-top-bottom-zone 20px;
    position: relative;
    margin: auto;
    a{

        // font-family: 'Great Vibes', cursive;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: calc($header-height - $padding-top-bottom-zone * 2 );
        text-decoration: none;
        color: white;

        &:hover{
            color: #9b9b9b;
        }
        
    }
    // button{
    //     font-weight: bold;
    //     font-size: 24px;
    //     line-height: 80px;
    //     text-decoration: none;
    //     color: white;
    // }
    p{
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        line-height: 80px;
        text-decoration: none;
        color: white;
        margin:  0 10px;
    }
}
.logo{
    
    line-height: $header-height;
    margin-left: 50px;
    
    a{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        color: white;

    }
}
.background{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100vw;
    // height: 100vh;
    object-fit: contain;
    img{
        width: 100%;
        height: 100%;
    }
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C4874D;
    color: white;
    text-align: center;
    p{

        margin-bottom: 0;
    }

}
@media all and (max-width: 576px){
    header{
        display: flex;
        flex-direction: column;

    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        text-align: center;
        margin: 0 auto;
    }
    nav{
        margin: 0;

    }
}
@media all and (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;

    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        text-align: center;
        margin: 0 auto;
    }
    nav{
        margin: 0;

    }
}
.loginForm{
    position: absolute;
    display: none;
    z-index: 2;
    background-color: white;
    width: 220px;
    height: 220px;
    margin-left: -40px;
    padding: 10px;
    &::after{
        content: "";
        $arrow-size: 14px;
        width: 0; 
        height: 0; 
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        
        border-bottom: $arrow-size solid white;
        position: absolute;
        top: -13px;
        left: 56px;

    }
}
.registerForm{
    position: absolute;
    display: none;
    z-index: 2;
    background-color: white;
    width: 220px;
    height: 235px;
    // margin-left: -40px;
    padding: 10px;
    // margin-top: 20px;
    &::after{
        content: "";
        $arrow-size: 14px;
        width: 0; 
        height: 0; 
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        
        border-bottom: $arrow-size solid white;
        position: absolute;
        top: -13px;
        left: 156px;

    }
}
.loginBtn,.registerBtn{
    border: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    line-height: 80px;
    text-decoration: none;
    color: white;
    // background-color: red;
}
.loginForm.isActive{
    display: block;
}
// .loginBtn:hover + .loginForm{
//     display: block;
//     transition: 0.5s;

// }
// .loginForm:hover{
//     display: block;
// }
// .registerForm:hover{
//     display: block;
// }
// .registerBtn:hover + .registerForm{
//     display: block;

// }
